<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/json+oembed"
        href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F220644003909450"
        title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed"
        href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F220644003909450"
        title="oEmbed Form">
    <meta property="og:title" content="Pizza Order Form">
    <meta property="og:url" content="https://form.jotform.com/220644003909450">
    <meta property="og:description" content="Please click the link to complete this form.">
    <meta name="slack-app-id" content="AHNMASS8M">
    <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021.svg">
    <link rel="canonical" href="https://form.jotform.com/220644003909450" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Pizza Order Form</title>

    <link type="text/css" rel="stylesheet"
        href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5eb3b4ae85bd2e1e2966db96" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.31568" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.31568" />


    <script src="https://cdn01.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
    <script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.31568" type="text/javascript"></script>
    <script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.31568" type="text/javascript"></script>
    <script defer src="https://cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.31568"
        type="text/javascript"></script>
    <script defer src="https://cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.31568"
        type="text/javascript"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
    <script src="https://cdn03.jotfor.ms/js/payments/paypalSPB.js?v=3.3.31568" type="text/javascript"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=&commit=true&currency=USD&vault=true"
        data-partner-attribution-id="JotForm_P4P"></script>
    <script src="https://cdn01.jotfor.ms/js/libraries/promise-polyfill.js"></script>
    <script type="text/javascript">	JotForm.newDefaultTheme = true;
        JotForm.extendsNewTheme = false;
        JotForm.newPaymentUIForNewCreatedForms = false;
        JotForm.newPaymentUI = true;
        JotForm.clearFieldOnHide = "disable";

        JotForm.init(function () {
            /*INIT-START*/
            paymentType = "product";
            JotForm.setCurrencyFormat('USD', true, 'point');
            JotForm.totalCounter({ "input_7_1001": { "price": "50", "quantityField": "input_7_quantity_1001_0", "custom_1": "input_7_custom_1001_1", "specialPriceField": "input_7_custom_1001_1", "specialPriceList": ["15", "20", "25"] }, "input_7_1007": { "price": "15", "quantityField": "input_7_quantity_1007_0", "custom_1": "input_7_custom_1007_1", "specialPriceField": "input_7_custom_1007_1", "specialPriceList": ["15", "20", "25"] }, "input_7_1008": { "price": "14", "quantityField": "input_7_quantity_1008_0", "custom_1": "input_7_custom_1008_1", "specialPriceField": "input_7_custom_1008_1", "specialPriceList": ["14", "19", "24"] }, "input_7_1006": { "price": "8", "quantityField": "input_7_quantity_1006_0", "custom_1": "input_7_custom_1006_1" } });
            $$('.form-product-custom_quantity').each(function (el, i) { el.observe('blur', function () { isNaN(this.value) || this.value < 1 ? this.value = '0' : this.value = parseInt(this.value) }) });
            $$('.form-product-custom_quantity').each(function (el, i) { el.observe('focus', function () { this.value == 0 ? this.value = '' : this.value }) });

            /*INIT-END*/
        });


    </script>
</head>

<body>
    <form class="jotform-form" action="/submitBookShip" method="post" name="form_220644003909450" id="220644003909450"
        accept-charset="utf-8" autocomplete="on">
        <input type="hidden" name="formID" value="220644003909450" />

        <div role="main" class="form-all">
            <style>
                .form-all:before {
                    background: none;
                }
            </style>
            <ul class="form-section page-section">
                <li id="cid_1" class="form-input-wide" data-type="control_head">
                    <div class="form-header-group  header-large">
                        <div class="header-text httac htvam">
                            <h1 id="header_1" class="form-header" data-component="header">
                                Pizza Order Form
                            </h1>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_paypalSPB" id="id_7" data-payment="true">
                    <label class="form-label form-label-top" id="label_7" for="input_7"> Menu </label>
                    <div id="cid_7" class="form-input-wide" data-layout="full">
                        <div>
                            <div data-wrapper-react="true" class="product-container-wrapper">
                                <div class="filter-container">
                                </div>
                                <input type="hidden" name="payment_total_checksum" id="payment_total_checksum"
                                    data-component="payment2" />

                                <div data-wrapper-react="true">


                                    <span
                                        class="form-product-item hover-product-item  show_image show_desc show_option show_subtotal new_ui"
                                        categories="non-categorized" pid="1001" aria-labelledby="label_7">
                                        <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                                            <div class="p_col">
                                                <div class="p_checkbox">
                                                    <input type="checkbox" class="form-checkbox  form-product-input"
                                                        id="input_7_1001" name="q7_menu[][id]" value="1001" />
                                                    <div class="checked">
                                                    </div>
                                                    <div class="select_border">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p_image">
                                                <div role="img" aria-label="Pizza Neapolitan"
                                                    class="image_area form-product-image-with-options"
                                                    style="background-image:url(&quot;https://www.jotform.com/uploads/LaurelWood/form_files/pizza-assortment-set_1284-20110.jpg&quot;)">

                                                </div>
                                            </div>
                                            <div for="input_7_1001" class="form-product-container">
                                                <span data-wrapper-react="true">
                                                    <div class="title_description">
                                                        <span class="form-product-name" id="product-name-input_7_1001">
                                                            Pizza Neapolitan
                                                        </span>
                                                        <span class="form-product-description"
                                                            id="product-name-description-input_7_1001">
                                                            Ingredients will be written here.
                                                        </span>
                                                    </div>
                                                    <span class="form-product-details">
                                                        <b>
                                                            <span data-wrapper-react="true">
                                                                $
                                                                <span id="input_7_1001_price">
                                                                    15.00
                                                                </span>
                                                            </span>
                                                        </b>
                                                    </span>
                                                </span>
                                                <span class="form-sub-label-container" style="vertical-align:top">
                                                    <label class="form-sub-label" for="input_7_quantity_1001_0"
                                                        style="min-height:13px" aria-hidden="false"> Quantity </label>
                                                    <span class="select_cont">
                                                        <select class="form-dropdown"
                                                            name="q7_menu[special_1001][item_0]"
                                                            id="input_7_quantity_1001_0">
                                                            <option value="1"> 1 </option>
                                                            <option value="2"> 2 </option>
                                                            <option value="3"> 3 </option>
                                                            <option value="4"> 4 </option>
                                                            <option value="5"> 5 </option>
                                                            <option value="6"> 6 </option>
                                                            <option value="7"> 7 </option>
                                                            <option value="8"> 8 </option>
                                                            <option value="9"> 9 </option>
                                                            <option value="10"> 10 </option>
                                                        </select>
                                                    </span>
                                                </span>
                                                <span class="form-sub-label-container" style="vertical-align:top">
                                                    <label class="form-sub-label" for="input_7_custom_1001_1"
                                                        style="min-height:13px" aria-hidden="false"> Size </label>
                                                    <span class="select_cont">
                                                        <select class="form-dropdown"
                                                            name="q7_menu[special_1001][item_1]"
                                                            id="input_7_custom_1001_1">
                                                            <option value="Small"> Small </option>
                                                            <option value="Medium"> Medium </option>
                                                            <option value="Large"> Large </option>
                                                        </select>
                                                    </span>
                                                </span>
                                                <br />
                                                <span class="form-special-subtotal">
                                                    <span class="form-item-subtotal">
                                                        Item subtotal:
                                                    </span>
                                                    <span data-wrapper-react="true">
                                                        $
                                                        <span id="input_7_1001_item_subtotal">
                                                            0.00
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="focus_action_button_container">
                                                <a class="btn-inline-product-delete"> </a>
                                                <a class="btn-inline-product-settings"> </a>
                                            </div>
                                        </div>
                                    </span>
                                </div>

                            </div>


                            <div class="payment_footer new_ui ">
                                <div class="total_area">
                                    <div class="form-payment-total">
                                        <div id="total-text">
                                            Total
                                        </div>
                                        <div class="form-payment-price">
                                            <span data-wrapper-react="true">
                                                $
                                                <span id="payment_total">
                                                    0.00
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
        </div>
        </li>

        <li class="form-line" data-type="control_datetime" id="id_5">
            <label class="form-label form-label-top" id="label_5" for="lite_mode_5"> Pickup Date </label>
            <div id="cid_5" class="form-input-wide" data-layout="half">
                <div data-wrapper-react="true">
                    <div style="display:none">
                        <span class="form-sub-label-container" style="vertical-align:top">
                            <input type="tel" class="form-textbox validate[limitDate]" id="month_5"
                                name="q5_pickupDate[month]" size="2" data-maxlength="2" data-age="" maxLength="2"
                                value="03" autoComplete="section-input_5 off"
                                aria-labelledby="label_5 sublabel_5_month" />
                            <span class="date-separate" aria-hidden="true">
                                .
                            </span>
                            <label class="form-sub-label" for="month_5" id="sublabel_5_month" style="min-height:13px"
                                aria-hidden="false"> Month </label>
                        </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
                            <input type="tel" class="currentDate form-textbox validate[limitDate]" id="day_5"
                                name="q5_pickupDate[day]" size="2" data-maxlength="2" data-age="" maxLength="2"
                                value="06" autoComplete="section-input_5 off"
                                aria-labelledby="label_5 sublabel_5_day" />
                            <span class="date-separate" aria-hidden="true">
                                .
                            </span>
                            <label class="form-sub-label" for="day_5" id="sublabel_5_day" style="min-height:13px"
                                aria-hidden="false">
                                Day </label>
                        </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
                            <input type="tel" class="form-textbox validate[limitDate]" id="year_5"
                                name="q5_pickupDate[year]" size="4" data-maxlength="4" data-age="" maxLength="4"
                                value="2022" autoComplete="section-input_5 off"
                                aria-labelledby="label_5 sublabel_5_year" />
                            <label class="form-sub-label" for="year_5" id="sublabel_5_year" style="min-height:13px"
                                aria-hidden="false"> Year </label>
                        </span>
                    </div>
                    <span class="form-sub-label-container" style="vertical-align:top">
                        <input type="text" class="form-textbox validate[limitDate, validateLiteDate]" id="lite_mode_5"
                            size="12" data-maxlength="12" maxLength="12" data-age="" value="03.06.2022"
                            data-format="mmddyyyy" data-seperator="." placeholder="MM.DD.YYYY"
                            autoComplete="section-input_5 off" aria-labelledby="label_5 sublabel_5_litemode" />
                        <img class="showAutoCalendar newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date"
                            id="input_5_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime"
                            aria-hidden="true" data-allow-time="No" data-version="v2" />
                        <label class="form-sub-label" for="lite_mode_5" id="sublabel_5_litemode" style="min-height:13px"
                            aria-hidden="false"> Date </label>
                    </span>
                </div>
            </div>
        </li>




        <li class="form-line" data-type="control_button" id="id_2">
            <div id="cid_2" class="form-input-wide" data-layout="full">
                <div data-align="center"
                    class="form-buttons-wrapper form-buttons-center paypal-submit-container  jsTest-button-wrapperField">
                    <div class="paypal-submit-button-wrapper">
                    </div>
                    <div class="paypal-paylater-messages" style="order:2;width:100%;display:block">
                        <div class="message-area">
                        </div>
                    </div>
                    <button id="input_2" type="submit"
                        class="form-submit-button submit-button jf-form-buttons jsTest-submitField"
                        data-component="button" data-content="">
                        Order
                    </button>
                </div>
            </div>
        </li>

        </ul>
        </div>
        <script>
            JotForm.showJotFormPowered = "new_footer";
        </script>
        <script>
            JotForm.poweredByText = "Powered by Jotform";
        </script>
        <script type="text/javascript">
            var all_spc = document.querySelectorAll("form[id='220644003909450'] .si" + "mple" + "_spc");
            for (var i = 0; i < all_spc.length; i++) {
                all_spc[i].value = "220644003909450-220644003909450";
            }
        </script>

    </form>
</body>

</html>
<script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.31568"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.31568"></script>






<div class="col-md-12 bg-dark d-flex align-items-center" id="bookShip">
    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Đặt ship</h5>
        <h1 class="text-white mb-4">Đặt giao tận nhà</h1>
        <form action="/bookShip" method="post" id="formShip">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
                        <label for="name">Họ và tên</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                            placeholder="Số điện thoại">
                        <label for="phoneNumber">Số điện thoại</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Món gọi" id="order" name="order"
                            style="height: 100px"></textarea>
                        <label for="order">Món gọi + ghi chú</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" type="submit">Đặt ngay</button>
                </div>
            </div>
        </form>
    </div>
</div>