<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="/admin" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>PQ Food</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="/admin" class="nav-item nav-link active" id="linkHome">Trang chủ</a>
                <a href="/admin/staff" class="nav-item nav-link" id="linkStaff">Nhân viên</a>
                <a href="/admin/dinnerTable" class="nav-item nav-link" id="linkTable">Bàn ăn</a>
                <a href="/admin/menu" class="nav-item nav-link" id="linkMenu">Thực đơn</a>
                <a href="/admin/warehouse" class="nav-item nav-link" id="linkWarehouse">Kho</a>
                <a href="/admin/revenue" class="nav-item nav-link" id="linkRevenue">Doanh thu</a>
                <a href="/admin/encash" class="nav-item nav-link" id="linkEncash">Thu ngân</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="linkMe">Cá nhân</a>
                    <div class="dropdown-menu m-0">
                        <a href="/admin/changePassword" class="dropdown-item">Đổi mật khẩu</a>
                        <a href="/admin/logout" class="dropdown-item">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-xxl py-5 notificationLoginFail">
        {{#if message}}
        <div style="text-align: center" class="alert alert-{{message.type}}">
            <strong>{{message.intro}}</strong> {{message.message}} &nbsp; &nbsp;&nbsp;
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
    </div>

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h3 class="display-3 text-white animated slideInLeft">Hãy đến với chúng tôi<br>Để tận hưởng những
                        món ngon của Việt Nam</h3>
                </div>
                <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                    <img class="img-fluid"
                        src="https://res.cloudinary.com/pqshop/image/upload/v1645343743/pqfood/mambanan_qptp12.png"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="/js/jquery.validate.min.js"></script>