<div class="col bg-dark d-flex align-items-center" id="cach">
    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Thêm thức ăn/thức uống</h5>
        <form>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="nameFood" name="nameFood" placeholder="Tên thức ăn/thức uống">
                        <label for="name">Tên thức ăn/thức uống</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="price" name="price" placeholder="Giá (VNĐ)">
                        <label for="email">Giá (VNĐ)</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="file" class="form-control" id="image" name="image" placeholder="Hình ảnh">
                        <label for="email">Hình ảnh</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <select class="form-select" id="classify" name="classify">
                            <option value="food">Thức ăn</option>
                            <option value="drink">Thức uống</option>
                        </select>
                        <label for="classify">Loại</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Mô tả chi tiết" id="description" name="description"
                            style="height: 100px"></textarea>
                        <label for="description">Mô tả chi tiết</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" type="submit">Thêm</button>
                </div>
            </div>
        </form>
    </div>
</div>