
<div class="col bg-dark d-flex align-items-center" >
    <div class="p-5 wow fadeInUp w-100" data-wow-delay="0.2s">
        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Đổi mật khẩu</h5>
        <form action="/admin/submitChangePassword" method="post" id="formChangePassword">
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="passOld" name="passOld" placeholder="Mật khẩu cũ">
                        <label for="passOld">Mật khẩu cũ</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="passNew" name="passNew" placeholder="Mật khẩu mới">
                        <label for="passNew">Mật khẩu mới</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="rePassNew" name="rePassNew" placeholder="Nhập lại mật khẩu mới">
                        <label for="rePassNew">Nhập lại mật khẩu mới</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" type="submit">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    document.getElementById("linkHome").classList.remove("active");
    document.getElementById("linkMe").classList.add("active");
</script>